/* ===========================
BLOG PAGE
=========================== */

.blog-page{

    padding:120px 0;

}

.blog-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

}

.blog-card{

    background:#fff;

    border:4px solid #111;

    border-radius:24px;

    overflow:hidden;

    transition:.3s;

    box-shadow:8px 8px 0 #111;

}

.blog-card:hover{

    transform:translateY(-8px);

}

.blog-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}

.blog-content{

    padding:25px;

}

.blog-content span{

    display:inline-block;

    margin-bottom:12px;

    background:#FFD54A;

    padding:6px 14px;

    border-radius:30px;

    font-weight:700;

}

.blog-content h3{

    margin-bottom:15px;

}

.blog-content p{

    margin-bottom:20px;

}

/* ===========================
DETAIL PAGE
=========================== */

.blog-detail{

    padding:120px 0;

}

.blog-header{

    text-align:center;

    margin-bottom:60px;

}

.blog-header h1{

    font-size:54px;

    margin:20px 0;

}

.blog-meta{

    display:flex;

    justify-content:center;

    gap:30px;

    font-weight:600;

}

.blog-cover img{

    width:100%;

    border-radius:30px;

    border:4px solid #111;

    margin-bottom:60px;

}

.blog-body{

    max-width:900px;

    margin:auto;

    line-height:2;

    font-size:19px;

}

.blog-body h2{

    margin-top:50px;

}

.blog-back{

    text-align:center;

    margin-top:70px;

}